<div class="bg">

    <div class="container">
        <div class="row">
            <div class="col-5">
                <img src="http://localhost:5000{{product.images}}" class="ms-3"  >
             </div>
            <div class="col-4"> 
                <h2 class="text-brown pb-3"> {{product.title |titlecase}} </h2>

                <p class="text-brown-light"> Description </p>
                <p class=" text-brown-light descp p-4"> {{product.description}}</p>

                
                 <span class="text-brown fs-6 align-self-center d-inline-block me-6"> Price : </span>
                 <span class="text-brown-light descp p-1 align-self-center d-inline-block ms-6 "> {{product.price}} LE </span>
                
              
                <p class="text-brown"> Quantity </p>
                <div class=""> 
                   <button class="plusbtn"> + </button>
                   <span class="mx-3 fs-5 "> {{quantity}}</span>
                   <button class="plusbtn"> - </button>
                    
                </div>


                <button class=" mt-4 btn rounded-pill orderbtn px-3 py-2"> Add to Order </button>

            </div>
            <div class="col-3"> 
                <img src="assets/images/coffee.png" class="imgcoffee">
            </div>
        </div>
    </div>
 
</div>

