.bg{
    min-height: 100vh;
    padding-top: 6rem;
     background-image: url('/assets/images/productbg.jpg');
    background-position: center;
    background-size: cover;
}
img{
    width: 80%;
}
h2{
    border-bottom: 4px solid rgb(105, 78, 43); ;
    width: 40%;
}
.descp{
    border : 1px solid rgb(105, 78, 43) ;
    border-radius: 7px;
}

.imgcoffee{
    width: 340px ;
    position: fixed ;
    top: 67%;
    right: -1%;
}

.plusbtn{
   
        width: 35px;
        height: 35px;
        border: 1px transparent solid;
        border-radius: 10px;
        background-color: rgb(105, 78, 43);
        color: white;
        line-height: 0;
        font-size: 28px;
}

.orderbtn{
    background-color:rgb(105 78 43) ;
    color: white;
}
.orderbtn:hover{
    background-color: transparent;
  
    border: solid 1px rgb(105 78 43) ;
    color: rgb(57, 46, 26);
}