<form #resetpassword="ngForm" (ngSubmit)="handlesubmit(resetpassword)" class=" ">
    
   
    <div class="mb-3 w-85 m-auto">
      <label for="exampleInputPassword1" class="form-label text-brown">Password</label>
      <input type="password" [(ngModel)]="model.password" name="password"  pattern="(?=.\d)(?=.[a-z])(?=.*[A-Z]).{8,}" required class=" no-outline w-100 rounded-2 py-1
      " id="exampleInputPassword1" #password="ngModel" >

    </div>

       <div  *ngIf="password.invalid && ( password.dirty  || resetpassword.submitted)">
            <div *ngIf="password.errors?.['required']">password is required</div>
            <div *ngIf="password.errors?.['pattern']" class="text-brown-light ms-5">
                must contain 8 or more characters that are of at least one number,
                and one uppercase and lowercase letter
            </div>
        </div>

    <button type="submit" class="btn  log px-4 ms-5 ">Reset password</button>

  </form>
