<div class="bg-img">
<div class="container">
    <section class="home " id ="home">
        <div class="row gx-0 py-5 align-items-center justify-content-between">
          <div class="col-9" >
            <h1 class="fresh">Fresh Coffee in the morning  </h1>
          
          </div>

          <div class = "col-3">
            <img src="/assets/images/3.png" class="w-75" alt="">
          </div>
        </div>


    </section>
</div>

</div>

<div class="container my-5">
   <div class="row">
     <div class="col-lg-3 col-md-5 col-sm-12">
       
       <app-sidebar></app-sidebar>
     </div>
     <div class="col-lg-9 col-md-7 col-sm-12">
      
      <app-products></app-products>
    </div>
   </div>
</div>
